{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}    

{% block body %}

    <div class="container py-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Voornaam</th>
                    <th scope="col">Achternaam</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <th scope="row">{{ record.id }}</th>
                        <td>{{ record.first_name }}</td>
                        <td>{{ record.last_name }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.roles|join(', ') }}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id': record.id}) }}" class="btn btn-primary">Wijzigen</a>
                            <a href="#" class="btn btn-danger">Verwijderen</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
