{% extends 'base.html.twig' %}

{% block body %}


   {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('DataAquisition/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('DataAquisition/nearest.css') }}">
    {% endblock %}




    <main>
        <div class="content">
            <section class="main-header grid">
                <h1 class="h1tag">NearestLocation Data van Station: {{ nearestLocation.stationName }}</h1>
                <!-- Add any additional buttons if needed -->
            </section>

            <div class="card">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>StationName</th>
                        <th>Name</th>
                        <th>AdministrativeRegion1</th>
                        <th>AdministrativeRegion2</th>
                        <th>CountryCode</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ nearestLocation.id }}</td>
                        <td>{{ nearestLocation.stationName | default('NONE') }}</td>
                        <td>{{ nearestLocation.name | default('NONE') }}</td>
                        <td>{{ nearestLocation.administrativeRegion1 | default('NONE') }}</td>
                        <td>{{ nearestLocation.administrativeRegion2 | default('NONE') }}</td>
                        <td>{{ nearestLocation.countryCode | default('NONE') }}</td>
                        <td>{{ nearestLocation.longitude | default('NONE') }}</td>
                        <td>{{ nearestLocation.latitude | default('NONE') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('DataAquisition/script.js') }}"></script>

{% endblock %}
{% block title %}

{% endblock %}

